.image {
 border: 1px solid #ddd;
 border-radius: 4px;
 padding: 5px;
 width: 150px;
 height: auto
}

.table-text {
  font-family: 'Roboto Slab', serif;
}

.table-border {
  border:6px ;
  /* border-color:#000000; */
  width: 100%
}