<!DOCTYPE html>
<html>

<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<body>

<h2>Welcome to MakersBnB</h2>

<form action="/signup" method= 'get'>
  <input type="submit" value="Sign up">
</form>

<form action="/listings" method= 'get'>
  <input type="submit" value="View listings">
</form>

</body>
</html>
