<head>
  <title>Add new Listing</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles.css">
</head>

<body id="listings">

<nav class="navbar navbar-expand-sm navbar-dark bg-dark transparent" id="nav1">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <form action="/listings" method= 'get'>
    <input class="btn btn-dark" input type="submit" value="Go Back">
    </form>
    </ul>
    <form action='/'>
    <input class="btn btn-primary" type='submit' value='Log Out'/>
  </form> 

  </div>
</nav>

<%= flash[:notice] %>
<center>
<title>New listing</title>

<h1>List a new Space </h1>
<div>Please enter property details in the fields below</div>

<form action="/listings" method = 'post'>
  Title:<br>
  <input type="text" name="title" style="height: 20px; width: 500px" required>
  <br>
  Address:<br>
  <input type="text" name="address" style="height: 20px; width: 500px" required>
  <br>
  Description:<br>
  <input type="text" name="description" style="height: 100px; width: 500px" placeholder="What are the attractive qualities of the property?" required>
  <br>
  Picture:<br>
  <input type="text" name="pictureurl" style="height: 20px; width: 500px" placeholder="Add a great pic!" required>
  <br>
  Price per night:<br>
  <input type="text" name="ppn" placeholder="£££" required>
  <br>
  Available from:<br>
  <input type="date" data-date-format="YYYY-MM-DD" name="start_date" required>
  <br>
  Available to:<br>
  <input type="date" name="end_date" required>
  <br>   <br>
  <input class="btn btn-secondary btn-lg" type="submit" value="List this space">
</form>
</center>
</body>

