<!DOCTYPE html>
<html>
<body>

<h2>Please enter your details in the fields below</h2>

<form action="/account_creation" method = 'post'>
  Username:<br>
  <input type="text" name="username">
  <br>
  Email:<br>
  <input type="text" name="email">
  <br>
  Password:<br>
  <input type="text" name="password">
  <br>
  <input type="submit" value="Create account">
</form>

</body>
</html>
